<html>

<head>
  <title>Pokedex</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>
{% extends 'base.html' %}
{% block content %}
<p class="m-2 text-center" style="font-family: 'Momo Trust Display', sans-serif; font-weight: 400; font-style: normal;">
  <strong>Bienvenido a mi pokedex!</strong>
</p>
<h2 class="text-danger text-center" style="font-family: 'Momo Trust Display', sans-serif; font-weight: 400; font-style: normal;"><strong>Pokemons</strong></h2>
{% if user.is.authenticated %}
  <a href="{% url 'pokedex:add_pokemon' %}" class="btn btn-danger" style="font-family: 'Momo Trust Display', sans-serif; font-weight: 400; font-style: normal;">Añadir pokemon</a>
{% endif %}
<div class="row">
  {% for pokemon in pokemons %}
  <div class="col-sm-12 col-md-6 col-lg-4 p-3">
    <p class="card" style="width: 100%; border-radius: 1rem; border: 0.25rem solid black;">
      {% if pokemon.picture %}
      <img src="{{ pokemon.picture.url }}" class="card-img-top" alt="{{ pokemon.name }}" />
      {% endif %}
    </p>
    <div class="text-center m-3">
      <a href="{% url 'pokedex:pokemon' pokemon.id %}" class="btn btn-success"><i class="fa-regular fa-eye"></i></a>
      {% if user.is.authenticated %}
        <a href="{% url 'pokedex:edit_pokemon' pokemon.id %}" class="btn btn-outline-dark"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="{% url 'pokedex:delete_pokemon' pokemon.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<h2 class="text-danger text-center" style="font-family: 'Momo Trust Display', sans-serif; font-weight: 400; font-style: normal;"><strong>Entrenadores</strong></h2>
{% if user.is.authenticated %}
  <a href="{% url 'pokedex:add_trainer' %}" class="btn btn-danger" style="font-family: 'Momo Trust Display', sans-serif; font-weight: 400; font-style: normal;">Añadir entrenador</a>
{% endif %}
<div class="row">
  {% for trainer in trainers %}
  <div class="col-sm-12 col-md-6 col-lg-4 p-3">
    <p class="card" style="width: 100%; border-radius: 1rem; border: 0.25rem solid black;">
      {% if trainer.picture %}
      <img src="{{ trainer.picture.url }}" class="card-img-top" alt="{{ trainer.name }}" />
      {% endif %}
    </p>
    <div class="text-center m-3">
      <a href="{% url 'pokedex:entrenadores' trainer.id %}" class="btn btn-success"><i class="fa-regular fa-eye"></i></a>
      {% if user.is.authenticated %}
        <a href="{% url 'pokedex:edit_trainer' trainer.id %}" class="btn btn-outline-dark"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="{% url 'pokedex:delete_trainer' trainer.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

</html>