{% extends 'base.html' %}
{% block title} {{ pokemon|capfirst }} {% endblock title}
{% block content %}
<form method="POST" enctype="multipart/form-data" class="m-4" style="font-family: 'Momo Trust Display', sans-serif; font-weight: 400; font-weight: bold;">
  {% csrf_token %}
  {{ form.as_div }}
  <div class="m-4 text-center">
    <button type="submit" class="btn btn-success" style="font-family: 'Momo Trust Display', sans-serif; font-weight: 400; font-style: normal;">Guardar</button>
  <a href="{% url 'pokedex:index' %}" class="btn btn-danger" style="font-family: 'Momo Trust Display', sans-serif; font-weight: 400; font-style: normal;">Salir</a>
  </div>
</form>
{% endblock %}